# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variables de entorno
.env
.env.local
.env.development
.env.production

# Claves y credenciales privadas
serviceAccountKey.json

# Firebase
.firebase/
firebase-debug.log
.firebaserc.backup

# Testing y cobertura
coverage/
*.lcov

# IDEs y sistema operativo
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# Compilaciones y temporales
dist/
build/
tmp/
temp/

# Archivos de sistema de Windows o macOS
desktop.ini
ehthumbs.db
